## mako

<%namespace name='static' file='/static_content.html'/>


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/themes/default/css/datascience.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="https://fonts.iu.edu/style.css?family=BentonSans:regular,bold|BentonSansCond:regular|BentonSansComp:bold|SalvoSerifCond:bold" rel="stylesheet" type="text/css">

		<div class="iu-bar">
			<div class="container">
				<img class="iu-logo" src="http://assets.iu.edu/brand/legacy/trident-large.png" height="73" width="64" alt=" ">
				<p class="iu-name">School of Informatics and Computing, Indiana University</p>
			</div>
		</div>